<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>TestPlan Info</title>
</head>
<body bgcolor="GhostWhite" topmargin="25%" leftmargin="25%">
    <center>

        <form action="{% url 'polls:infotp' %}" method="post">
        {% csrf_token %}
    <div class="container">
        <label for="id_tp"><b>ID Test Plan</b></label>
        <input type="text" placeholder="Ex:MCA-2144102 " name="id_tp" required>
        {%if error %}
         <div>
            <H1 >{{error}}</H1>
        </div>
        {% endif%}
    </div>

    <div>
        <label for="reg_level"><b>Reglevel</b></label>
        <input type="reg_level" placeholder="Ex: 1" name="reg_level" required>
        {%if erro_reg_level %}
         <div>
            <H1>{{erro_reg_level}}</H1>
        </div>
        {% endif%}
    </div>

     <div>
        <label for="url_spreadsheet"><b>Spreadsheet url</b></label>
        <input type="url_spreadsheet" placeholder="Ex: http://https://docs.google.com/spreadsheets" name="url_spreadsheet" required>
         <button type="upload">upload</button>
         {%if error_spreadsheet %}
         <div>
            <H1>{{error_spreadsheet}}</H1>
        </div>
        {% endif%}
    </div>
    </center>
</body>
</html>