<html>
<head>
    {% extends 'polls/layout/base.html' %}
</head>
<body>

{% block info_tp %}
<form action="{% url 'polls:tp_filter' %}" method="post">
    {% csrf_token %}
        <div class="row" >
            <div class="col s12">
                <div class="card" >
                    <div class="card-content">
                        <div class="container" >
                            <label for="id_tp"><b>ID Test Plan</b></label>
                            <input type="text" id="id_tp" placeholder="ex: MCA-2144102 " name="id_tp" required>
                            {%if error %}
                            <div>
                                <H1 >{{error}}</H1>
                            </div>
                            {% endif%}
                        </div>

                        <div class="container">
                            <label for="reg_level"><b>Reglevel</b></label>
                            <input type="text" id="reg_level" placeholder="ex: 1, 2" name="reg_level" required/>
                            {%if erro_reg_level %}
                            <div>
                                <H1>{{erro_reg_level}}</H1>
                            </div>
                            {% endif%}
                        </div>

                        <div class="container">
                            <label for="url_spreadsheet"><b>Spreadsheet url</b></label>
                            <input type="text" id="url_spreadsheet"placeholder="ex: http://https://docs.google.com/spreadsheets" name="url_spreadsheet" required>
                            <button class="btn waves-effect waves-light" type="submit" name="action">Submit  </button>

                            {%if error %}
                            <div>
                                <H1>{{error}}</H1>
                            </div>
                            {% endif%}
                        </div>
                    </div>
                </div>
            </div>
        </div>


</form>
{% endblock %}
</body>
</html>


