{% extends 'polls/layout/base.html' %}

{% block list_filer %}
<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content" >
                <form action="{% url 'polls:tcs_list' %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        {% if query %}
                        <div class="col s12" >
                            <label>{{label}}</label>
                            <select multiple name="multi_options">
                                <option value="" disabled selected>Choose a filter</option>
                                {% for item in lista%}
                                <option value="{{item.plan}}">{{item.plan}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% else %}
                        <div class="col s12">
                            <label>{{label}}</label>
                            <select name="one_option">
                                <option value="" disabled selected>Choose a filter</option>
                                {% for filter in lista%}
                                <option value="{{filter.plan}}"> {{filter.plan}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% endif %}
                    </div>
                    <div><button type="submit">OK</button></div>
                </form>

            </div>
        </div>
    </div>
</div>
{%if error_tp %}
<div>
    <H1>{{error_tp}}</H1>
</div>
{% endif%}
{% endblock %}
