
{% extends 'polls/layout/base.html' %}

{% block login %}
<form action="{% url 'polls:login' %}" method="post">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="section"></div>
            <main>
                <center>
                    <div class="container">
                        <div class="z-depth-3 y-depth-3 x-depth-3 grey green-text lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px; margin-top: 100px; solid #EEE;">
                            <div class="section"></div>
                            <div class="section"></div>

                            <div class="section"><i class="mdi-alert-error red-text"></i></div>


                            <div class='row'>
                                <div class='input-field col s12'>
                                    <input class='validate' type="text" name='uname' id='uname' required />
                                    <label for='uname'>Core Id</label>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='input-field col m12'>
                                    <input class='validate' type='password' name='password' id='password' required />
                                    <label for='password'>Password</label>
                                </div>
                                <label style='float: right;'>
                                    <a><b style="color: #F5F5F5;">Forgot Password?</b></a>
                                </label>
                            </div>
                            <br/>
                            <center>
                                <div class='row'>
                                    <button class="btn waves-effect waves-light" type='submit' name='btn_login'>Login</button>
                                </div>
                            </center>
                        </div>
                    </div>
                </center>
            </main>
        </div>
    </div>
    {%if erro %}
    <div>
        <H1 >{{erro}}</H1>
    </div>
    {% endif%}
</form>
{% endblock %}
