
{% extends 'polls/layout/base.html' %}

{% block tcs_list %}
<form action="" method="post">
    {% csrf_token %}
    <!--<p>
      <label>
        <input type="checkbox" class="filled-in" checked="checked" />
          {%for i in tcs_in %}
            <span value="{{i.tcs_in}}">{{i.tcs_in}}</span>
          {%endfor%}
      </label>
    </p>-->
    {%for i in tcs_out %}
    <p>
        <input type="checkbox" id="{{i.key}}" />
        <label for="{{i.key}}">{{i.key}}</label>
    </p>
    <!--<p>
      <label>
        <input type="checkbox" />

            <span value="{{i.primary_dom}}">{{i.primary_dom}}</span>

      </label>
    </p>-->
    {%endfor%}
</form>
{%if error_tcs %}
<div>
    <H1>{{error_tcs}}</H1>
</div>
{% endif%}
{% endblock %}


