<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>TestPlan Filters</title>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">-->
    {% load static %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css'%}" media="screen,projection"/>

</head>
<body>
 <form action="{% url 'polls:tcs_list' %}" method="post">
     {% csrf_token %}
    <p>
      <label>
        <input type="checkbox" class="filled-in" checked="checked" />
          {%for i in tcs_in %}
        <span value="{{i.tcs_in}}">{{i.tcs_in}}</span>
          {%endfor%}
      </label>
    </p>


      <p>
      <label>
        <input type="checkbox" />
          {%for i in tcs_out %}
        <span value="{{i.tcs_out}}">{{i.tcs_out}}</span>
          {%endfor%}
      </label>
    </p>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>-->
<script type="text/javascript" src="{% static 'js/materialize.min.js'%}"></script>
<script type="text/javascript">
  $(document).ready(function(){
    console.log("carregou");
    $('select').material_select();
  });
</script>

</body>
</html>