<html>
<head>
    {% extends 'polls/layout/base.html' %}
</head>
<body>
{% block tp_filter %}
<form action="{% url 'polls:list_filter' %}" method="post">
    {% csrf_token %}
    <div class="container">
        <div class="col s12 m6">
            <div class="card" >
                <div class="card-content">
                    <div class="container" >
                        <div class="input-field col s12">
                            <select onchange="form.submit()" name="tp_filter" id="tp_filter">
                                <option value="" disabled selected>Choose a test plan</option>
                                {%for i in lista %}
                                <option value="{{i.type}}">{{i.type}}</option>
                                {% endfor %}
                            </select>
                            <label for="tp_filter">Regression Test Plan</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{%if error_tp %}
<div>
    <H1>{{error_tp}}</H1>
</div>
{% endif%}
{% endblock %}
</body>
</html>


