<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>TestPlan Creat</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{%static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{%static 'css/style.css'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="teal lighten-2" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="{% url 'polls:index' %}" class="brand-logo"> Test Plan Creat </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="login.html">Login</a></li>
        <li><a href="info_tp.html">TP Information</a></li>
        <li><a href="tp_filter.html">TP Type</a></li>
        <li><a href="list_filter.html">Filters</a></li>
        <li><a href="tcs_list.html">TCs</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  {% csrf_token %}
  <div class="container">
  {% block info_tp %} {% endblock %}
  {% block list_filer %} {% endblock %}
  {% block login %} {% endblock %}
  {% block tcs_list %} {% endblock %}
  {% block tp_filter %} {% endblock %}
</div>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{%static 'js/materialize.js' %}"></script>
  <script src="{%static 'js/init.js' %}"></script>

  <script>
    $(document).ready(function(){
      $('select').material_select();
    });
  </script>
  {% block js %} {% endblock %}


  </body>
</html>
